.header_block{
	height: 48px;
	padding: 0 20px;
	border-right: 2px solid rgba(255,255,255,.14);
	display: flex;
	align-items: center;
}
.header_block>*:first-child{
	margin-right: 18px;
}
.header_block:last-child{
	border-right: 0;
	padding-right: 16px;
}